*.Rhistory
*.RData
*.Rout
*.out
*.err
*.sbatch

*.png
generated_figures/
generated_data/
!generated_data/traits_table.txt
!generated_data/top_indep_SNPs.txt
!generated_data/top_indep_SNPs_rsIDs.txt

input_data/*
!input_data/phenotype-description.csv
!input_data/phenotype-info.csv
!input_data/pred-cor-PLR.csv
!input_data/traits_list.txt
!input_data/README.md


